<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirement Readiness Quiz</title>
    <link href="style.css" rel="stylesheet">
    <script src="../Thank You Page/custom.js"></script>
</head>
<body>

<!-- Quiz Section -->

    <form id="quiz-container" action="Question-2.html" autocomplete="on">
        <h1>What is your name?</h1>
        <div id="inputs-container">
            <input v-model="firstName" type="text" id="first-name" class="input-2" placeholder="First Name" required>
            <input v-model="lastName" type="text" id="last-name" class="input-2" placeholder="Last Name" required>
            <input type="submit" value="Next →" id="login-button" @click.prevent="getFormValues()">
        </div>
    </form>

<!-- Steps Section -->

<!-- Footer Section-->

</body>
</html>